html, body{
    margin: 0;
    padding: 0;
}

.space{
    height: 100px;
}

/* MAIN PAGE */


#info-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #000;
    background: #59886b; 
    flex-wrap: wrap;
}

#info-banner a:first-child{
    margin-right:18px;
}
#info-banner a{
    color:#fff;
}

#main-menu{
    background: #c05555;
    width: 100%;
    justify-content: center;
}

#main-menu a{
    color:#fff;
    text-transform: uppercase;
}

#main-menu .active.item{
    border-color:#fff;
}

#text-block{
    background: #c05555;
    color: #fff;
    margin-top:40px;
}

#text-block .value, #text-block .label{
    color: #fff;
}

.main-photo{
    margin:30px 0;
}

.info-block{
    background-color: #c05555;
    margin:30px 0 !important;
}

.info-block:last-child{
    margin-bottom:100px !important;
}
.info-block .column{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.info-block a{
    font-size:2.3vw;
    display: block;
    margin: 40px 0;
}

.info-block .label-block{
    text-align: center;
}

.info-block span{
    display: block;
    font-size:3.8vw;
    color: #ffc85c;
    text-align: center;
    margin: 24px;
    font-weight: 600;
}



.info-block img{
    max-width: 80%;
    max-height: 80%;
}

#cards-block{
    margin: 25px 0px;
}



/* MENUS PAGE */

#label-header h3{
    color:#fff;
}

#label-header{
    margin-top:24px;
    background: #ffc85c;
}


#catering-page .info-block{
    margin: 30px 0;
}

#catering-page .info-block span{
    font-size:3.4vw;
}

#contacts-page{
    text-align: center;
}
#contacts-page span{
    display: block;
    font-size: 4.3vw;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    margin: 30px 0;
}

#contacts-page .column{
    text-align: center;
}

#contacts-page a{
    display: block;
    color: #fff;
    margin: 20px 0;
    font-family: monospace;
}

#contacts-page a:first-of-type{
    text-decoration: underline;
}


#contacts-page .grid{
    margin: 7vw 0px;
}

#contacts-page tr, #contacts-page th, #contacts-page h4{
    color:#fff;
    font-weight: 500;
}
#contacts-page table{
    margin:38px 0;
}

#staff-page{
    margin:40px 0;
}



#menu-page .grid{
    margin: 12px 0;
}

#menu-page{
    min-height:80%;

}

.footer{
    background: #c05555 !important;
}

.footer .header{
    color:#ffc85c !important;
}

.footer a{
    color:#fff !important;
}



#context1 > .menu{
    background: #ffc85c;
    margin: 0;
}

#context1 > .menu > a{
    color: #c05555;
    font-weight: 500;
    font-size: 18px;
}

#context1 > .tab{
    margin:0;
    background: #ffc85c;
    border:none;
    border-radius:0;
}


.wrapped{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.map-block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:40px 0;
}